html {
}
body {
  background-color: #eee;
  margin: 0;
  padding: 0;
}

.app {
  .start_page {
    background-color: #999;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: stretch;
    border: solid 1px navy;
    .paper {
    }
    .register_button {
      margin-top: 6px !important;
      margin-right: 4px !important;
    }
    .start_logo {
      //border: solid 1px red;
      float: left;
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        width: 500px;
        height: 500px;
      }
    }
    .start_form {
      //border: solid 1px green;
      float: right;
      width: 50%;
      display: flex;
      align-items: center;
    }
  }
  .register_page {
    height: 100vh;
    .register_form {
      float: right;
      width: 50%;
      min-height: 100vh;
      display: flex;
      align-items: center;
    }
  }
  .side_bar {
    width: 25vw;
    min-width: 300px;
    height: 100vh;
    float: left;
    border: solid 1px red;
    background-color: #fff;
    .user_header {
      height: 10vh;
      .user_logo {
        float: left;
        img {
          width: 50px;
          height: 50px;
          border-radius: 100%;
          border: solid 2px green;
        }
      }
      .user_name {
        float: left;
      }
    }
  }
  .message_bar {
    width: 75vw;
    height: 100vh;
    float: right;
  }
}

.full {
  height: 100vh;
}
